<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Home Page</title>
    <link rel="stylesheet" href="backend/static/styles.css">
    <link rel="icon" href="backend/static/images/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Welcome to My Home Page!</h1>
    </header>
    <section>
        <p>This is a simple home page built with FastAPI and Jinja2 templates.</p>
        <button class="button" onclick="window.location.href='http://127.0.0.1:8000/docs'">Documentation</button>
    </section>
</body>
</html>
